@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

/* NavBar 1 */

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #120f2d;
  padding: 8px 70px;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
}

.navLeft .navContact p {
  font-size: 14px;
  font-weight: 400;
}
.navLeft .navContact p i {
  font-size: 14px;
  margin-right: 8px;
}

.nav1-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  font-size: 16px;
}
.nav1-links a {
  color: white;
  cursor: pointer;
}

/* NavBar 2 */
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 70px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: #1465d9;
}

.logo a {
  color: #1465d9;
  font-size: 40px;
}

.logo h1 {
  font-size: 40px;
  color: #1465d9;
}

.nav2-links a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 22px;
  color: #120f2d;
}

.nav2 .btn {
  background-color: #1465d9;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
}
/* Hero Section */
.hero {
  position: relative;
  height: 600px;
  background-image: url("	https://themewagon.github.io/Edukate/img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 101, 217, 0.9);
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 2;
  margin-top: 140px;
}

.hero-content h2 {
  font-size: 40px;
  color: white;
}

.hero-content h1 {
  font-size: 100px;
  color: white;
}

.hero-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: center;
  width: 600px;
  overflow: hidden;
}

.search-container select {
  padding: 12px 16px;
  border: none;
  font-size: 18px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  font-weight: bold;
  color: #93929a;
}
.search-container input {
  flex: 1;
  padding: 12px 16px;
  font-size: 18px;
  border: none;
  outline: none;
}
.search-container button {
  background-color: #ee2a3d; /* red */
  color: white;
  padding: 0 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

/* Section Separator */
.section-seperator {
  position: relative;
  z-index: 10;
  line-height: 0;
  margin-top: -60px;
  overflow: hidden;
}
.section-seperator img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
}
